:root {
  --font-dm-sans: 'DM Sans', sans-serif;
  --nav-h: 72px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


html,
body {
  font-family: var(--font-dm-sans);
  height: 100%;
  min-height: 100%;
  overflow-x: clip;
  touch-action: pan-y;
}

.nav-spacer {
  height: var(--nav-h);
  background: #0f0f10;
}

.sectionPadded {
  padding: 40px 16px;
}


@media (min-width: 992px) {
  .sectionPadded {
    padding: 56px 0 80px;
  }
}