:root {
  --font-dm-sans: 'DM Sans', sans-serif;
}

html, body {
  font-family: var(--font-dm-sans);
  overflow-x: hidden;
}

.sectionPadded {
  padding: 40px 16px; /* было без боковых паддингов */
}

/* На десктопе возвращаем шире */
@media (min-width: 992px) {
  .sectionPadded {
    padding: 56px 0 80px;
  }
}